body {
    font-family: 'Georgia', serif;
    font-style: italic;
    background-color: #ef89d2;
    text-align: center;
    padding: 50px;
}
nav {
    background: #63555e;
    padding: 15px;
    margin-bottom: 20px;
}
nav a {
    color: rgb(246, 143, 195);
    text-decoration: none;
    margin: 0 10px;
}
main {
    background: rgb(122, 238, 151);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
button {
    padding: 10px 20px;
    cursor: pointer;
}