body {
    font-family: 'Georgia', serif;
    font-style: italic;
    background-color: #ef9ad7;
    text-align: center;
    padding: 50px;
}
nav {
    background: #63555e;
    padding: 15px;
    margin-bottom: 20px;
}
nav a {
    color: rgb(246, 143, 195);
    text-decoration: none;
    margin: 0 10px;
}
main {
    background: rgb(165, 237, 183);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
button {
    background-color: #db7093;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s; 
}
button:hover {
    background-color: #c71585; /* Üzerine gelince biraz koyulaşır */
}